{% extends 'base.html' %}

{% block header %}
  {% block title %}Sounds panel{% endblock %}
{% endblock %}

{% block content %}
  <div class="container-fluid my-md-4 bd-layout">
    <table class="row text-center scroll-table table-borderless">
    <tr class="scrolling-wrapper">
      {% for folder, tracks in items.items() %}
        <td class="col card">
          <table class="table table-borderless">
            <tr class="table-success">
              <th>{{ folder }}</th>
            </tr>
            {% for track in tracks %}
            <tr>
              <td><p>{{ track }}</p>
                <audio controls>
                  <source src="{{ url_for('local_files', folder='tracks\\'+folder, filename=track) }}">
                </audio>
              </td>
            </tr>
            {% endfor %}
          </table>
        </td>
      {% endfor %}
    </tr>
    </table>
  </div>
{% endblock content %}